span.pro-condition{
	color:#eea236;
}
/*************************
*******Content CSS******
**************************/
.entry-content {
	padding:10px;
	border:1px solid #f5f5f5;
}
.page-product-list{
	background-color: #f5f5f5;
	border:1px solid #f5f5f5;
	overflow: hidden;
	padding:5px;
}
.left-sidebar{padding-top:0;}
.entry-content{
	border:1px solid #f5f5f5;
	overflow: hidden;
}