a:link {
text-decoration:none;
-webkit-transition:all 0.6s ease-out 0s;
-moz-transition:all 0.6s ease-out 0s;
transition:all 0.6s ease-out 0s;
}

a:hover {
text-decoration: none;
}
a:active {
outline: none;
}
a:visited {
text-decoration: none;
}
:focus {
outline: 0;
}
a img {
border: 0;
}
.language-bar a {color: #fff;}
.header_top {
	background: #285EA0 !important;
}
#header h1 a{color:#e74c3c}

#footer {
	background: #e74c3c!important;
}

#nav .bgnya {
background-color:#2E2E2E!important;
border-bottom:4px solid #e74c3c!important;
box-shadow: none!important;
}
.popular-links {
	background-color: #e74c3c;
	color: #ffffff;
}
.popular-links>.panel-heading:hover a {
	text-decoration: underline;
	color: #001966;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{  background-color: #337ab7!important;}
#costomLayout .ui-sortable li{background: #e74c3c!important}
.register-form, .login-form {  border: 3px solid #e74c3c!important;}
.category-tab ul.nav {border-bottom: 2px solid #e74c3c!important;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>li:hover,.dropdown-menu>li:focus {background-color: #e74c3c;color: #FFFFFF;}
.sf-menu a.home, .sf-menu > li > a.home.current {background-color: #e74c3c!important;}
.sf-menu li:hover > a,
.sf-menu li.sfHover > a,
.sf-menu > li > a.current {background-color:#BF2817!important;color:#FFFFFF;}
.carousel-indicators li.active{  background: #851C10!important;}
.nav-tabs li span {color: #e74c3c!important;}